<div class="row">
  <div class="col">
    <div class="title">
      <h1 class="text-center">PHENOMENOMICON</h1>
    </div>
  </div>
</div>

<div id="test" class="row">
  <div class="col">
    <div class="colA">
      <table class="table table-hover table-active">
        <thead>
          <tr>
            <th scope="col">Encounter Date:</th>
            <th scope="col">Entity Involved:</th>
          </tr>
        </thead>
        <tbody *ngFor="let encounter of encounters" class="table-primary">
          <tr (click)="selectedEncounter = encounter; wantsToAdd = false">
            <td>{{encounter.date}}</td>
            <td>{{encounter.entityType}}</td>
          </tr>
        </tbody>
      </table>
      <button (click)="wantsToAdd = true" class="btn btn-primary" *ngIf="!wantsToAdd">Add Encounter</button>
      <div *ngIf="wantsToAdd" class="text-left">
        <h3>Enter New Encounter:</h3>
        <form id="addEncounter">
        <input type="date" name="date" placeholder="date" [(ngModel)]="newEncounter.date"><br>
         <input type="text" name="entityType" placeholder="entity type/name" [(ngModel)]="newEncounter.entityType"><br>
         <input type="text" name="city" placeholder="city" [(ngModel)]="newEncounter.city"><br>
         <input type="text" name="stateCountry" placeholder="state/country" maxlength="2" [(ngModel)]="newEncounter.stateCountry"><br>
         <input type="number" name="latitude" placeholder="latitude" step=".000001" [(ngModel)]="newEncounter.latitude"><br>
         <input type="number" name="longitude" placeholder="longitude" step=".000001" [(ngModel)]="newEncounter.longitude"><br>
         <input type="text" name="entityUrl" placeholder="entity URL" [(ngModel)]="newEncounter.entityUrl"><br>
         <textarea rows="10" cols="45" name="body" placeholder="description of event" [(ngModel)]="newEncounter.body"></textarea><br>
         <button (click)="addEncounter(newEncounter)">Submit</button>
         <button (click)="wantsToAdd = false; clearForm()">Cancel</button>
        </form>
      </div>
    </div>
  </div>







  <div class="col">
    <div class="colB" *ngIf="!selectedEncounter">
      <img id="classified" src="https://www.aroundtownpubs.com/images/classified-01.png"/>
    </div>
    <div class="colB" *ngIf="selectedEncounter">
      <div class="card" style="max-width: 24rem;">
        <img *ngIf="selectedEncounter.entityUrl" class="card-img-top" [src]="selectedEncounter.entityUrl" alt="Entity Image">
        <img *ngIf="!selectedEncounter.entityUrl" class="card-img-top" src="https://www.aroundtownpubs.com/images/classified-01.png">
        <div class="card-body">
          <h5 class="card-title">{{selectedEncounter.entityType}}</h5>
          <div class="text-justify"><p class="card-text">{{selectedEncounter.body}}</p></div>
          <a href="#" class="btn btn-primary">Update Encounter</a>
          <a href="#" class="btn btn-warning">Delete Encounter</a>
        </div>
      </div>
    </div>
  </div>
</div>
