
.card-img-top {
  width: 382px;
  height: 360px;
}
.card-text {
  border-style: double;
  border-color:lightgray;
  border-radius: 2px;
  border-width: 2px;
  max-height: 200px;
  overflow-y: auto;
}

.btn {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

#classified {
  width: 382px;
  height:360px;
  background-color: moccasin;
}
.card-body {
  background-image: url("https://i.stack.imgur.com/8zEoh.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.colB {
  margin-left: 100px;

}

h1 {
  color: white;
  text-decoration-line: line-through;
  text-decoration-color: red;
}

th {
  color: white;
}

h3 {
  color: white;
}

textarea {
  background-color: white;
  color: black;
  text-decoration-line: line-through;
  opacity: 50%;
}

input {
  background-color: white;
  color: black;
  opacity: 50%;
}

form {
  background-image: url("https://i.stack.imgur.com/8zEoh.png");
  background-repeat: no-repeat;
  background-size: auto;
}
